<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<div class="container mt-3">
    
        <button type="button" class="btn btn-primary mr-3" routerLink="/quick">Quick Search</button>
        <button type="button" class="btn btn-primary mr-3" routerLink="">Advance Search</button>  
        <button type="button" class="btn btn-primary" routerLink="/profileidsearch">Profile ID Search</button>       
        <hr>

        <form [formGroup]="advanceForm" (ngSubmit)="getResult(advanceForm.value)">
                    <div class="form-group row">
                        <div class="col-sm-3">Looking For</div>
                        <div class="col-sm-9">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"  id="inlineRadio1" value="Female" formControlName="gender" required>
                                <label class="form-check-label" for="inlineRadio1">Bride</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"  id="inlineRadio2" value="Male" formControlName="gender" required>
                                <label class="form-check-label" for="inlineRadio2">Groom</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="age" class="col-sm-3 col-form-label">Age</label>
                        <div class="col-sm-3">
                            <select id="inputState" class="form-control" formControlName="sage" required>
                                <option selected>25</option>
                                <option>30</option>
                                <option>35</option>
                                <option>40</option>
                                <option>45</option>
                            </select>
                        </div>
                        <label for="to" class="col-sm-3 col-form-label">To</label>
                        <div class="col-sm-3">
                            <select id="inputState" class="form-control" formControlName="eage" required>
                                <option selected>25</option>
                                <option>30</option>
                                <option>35</option>
                                <option>40</option>
                                <option>45</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="height" class="col-sm-3 col-form-label">Height</label>
                        <div class="col-sm-3">
                            <select id="inputState" class="form-control" formControlName="sheight" required>
                                <option>4</option>
                                <option>4.5</option>
                                <option>4.6</option>
                                <option>4.7</option>
                                <option>4.8</option>
                                <option>4.9</option>
                                <option>5</option>
                                <option>5.1</option>
                                <option>5.2</option>
                                <option>5.3</option>
                                <option>5.4</option>
                                <option>5.5</option>
                                <option>5.6</option>
                                <option>5.7</option>
                                <option>5.8</option>
                                <option>5.9</option>
                                <option>6</option>
                                <option>6.1</option>
                                <option>6.2</option>
                                <option>6.3</option>
                                <option>6.4</option>
                                <option>6.5</option>
                                <option>6.6</option>
                                <option>6.7</option>
                                <option>6.8</option>
                                <option>6.9</option>
                                <option>7</option>
                                <option>7.1</option>
                                <option>7.2</option>
                                <option>7.3</option>
                                <option>7.4</option>
                                <option>7.5</option>
                            </select>
                        </div>
                        <label for="to" class="col-sm-3 col-form-label">To</label>
                        <div class="col-sm-3">
                            <select id="inputState" class="form-control" formControlName="eheight" required>
                                <option>4</option>
                                <option>4.5</option>
                                <option>4.6</option>
                                <option>4.7</option>
                                <option>4.8</option>
                                <option>4.9</option>
                                <option>5</option>
                                <option>5.1</option>
                                <option>5.2</option>
                                <option>5.3</option>
                                <option>5.4</option>
                                <option>5.5</option>
                                <option>5.6</option>
                                <option>5.7</option>
                                <option>5.8</option>
                                <option>5.9</option>
                                <option>6</option>
                                <option>6.1</option>
                                <option>6.2</option>
                                <option>6.3</option>
                                <option>6.4</option>
                                <option>6.5</option>
                                <option>6.6</option>
                                <option>6.7</option>
                                <option>6.8</option>
                                <option>6.9</option>
                                <option>7</option>
                                <option>7.1</option>
                                <option>7.2</option>
                                <option>7.3</option>
                                <option>7.4</option>
                                <option>7.5</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="maritalstatus" class="col-sm-3 col-form-label" >Marital Status</label>
                        <div class="col-sm-9">
                            <select id="inputState" class="form-control" formControlName="mstatus" required>
                                <option selected>unmarried</option>
                                <option>Widowed</option>
                                <option>Divorced</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="child" class="col-sm-3 col-form-label">Have a Children</label>
                        <div class="col-sm-9">
                            <select id="inputState" class="form-control" formControlName="children" required>
                                <option selected>No</option>
                                <option>Yes</option>
                                
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="annincome" class="col-sm-3 col-form-label">Annual Income</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="ai" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="religion" class="col-sm-3 col-form-label">Religion</label>
                        <div class="col-sm-9">
                            <select id="inputState" class="form-control" formControlName="religion" required>
                                <option selected>Hindu</option>
                                <option>Christian</option>
                                <option>Muslim</option>
                                <option>Sikh</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="caste" class="col-sm-3 col-form-label">Caste</label>
                        <div class="col-sm-9">
                            <select id="inputState" class="form-control" formControlName="caste" required>
                                <option selected>General</option>
                                <option>OBC</option>
                                <option>SC</option>
                                <option>ST</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="mothertongue" class="col-sm-3 col-form-label">Mother Tongue</label>
                        <div class="col-sm-9">
                            <select id="inputState" class="form-control" formControlName="language" required>
                                <option selected>Hindi</option>
                                <option>English</option>
                                <option>Marathi</option>
                                <option>Punjabi</option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="profession" class="col-sm-3 col-form-label">Profession</label>
                        <div class="col-sm-9">
                            <select id="inputState" class="form-control" formControlName="occupation" required>
                                <option>Doctor</option>
                                <option>Engineer</option>
                                <option>Manager</option>
                                <option>Bank Official</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="country" class="col-sm-3 col-form-label">Country Living</label>
                        <div class="col-sm-9">
                            <select multiple class="form-control" id="exampleFormControlSelect2" formControlName="country" required>
                                <option selected>India</option>
                                <option>UK</option>
                                <option>US</option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="education" class="col-sm-3 col-form-label">Education</label>
                        <div class="col-sm-9">
                            <select id="inputState" class="form-control" formControlName="education" required>
                                <option>10th</option>
                                <option>12th</option>
                                <option>Graduate</option>
                                <option>Post Graduate</option>
                                
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="smoking" class="col-sm-3 col-form-label">Smoking</label>
                        <div class="col-sm-9">
                            <select id="inputState" class="form-control" formControlName="smoking" required>
                                <option>Yes</option>
                                <option>No</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="drinking" class="col-sm-3 col-form-label">Drinking</label>
                        <div class="col-sm-9">
                            <select id="inputState" class="form-control" formControlName="drinking" required>
                                <option>Yes</option>
                                <option>No</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="complexion" class="col-sm-3 col-form-label">Complexion</label>
                        <div class="col-sm-9">
                            <select id="inputState" class="form-control" formControlName="complexion" required>
                                <option selected>Fair</option>
                                <option>Medium</option>
                                <option>Olive</option>
                                
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="bodytype" class="col-sm-3 col-form-label">Body Type</label>
                        <div class="col-sm-9">
                            <select id="inputState" class="form-control" formControlName="complexion" required>
                                <option selected>Slim</option>
                                <option>Medium</option>
                                <option>Fat</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="familyvalues" class="col-sm-3 col-form-label">Family Values</label>
                        <div class="col-sm-9">
                            <select id="inputState" class="form-control" formControlName="fvalues" required>
                                <option selected>High</option>
                                <option>Financial Stability</option>
                                <option>Compassion</option>
                                <option>Generosity</option>
                                <option>Honesty</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="diet" class="col-sm-3 col-form-label">Diet</label>
                        <div class="col-sm-9">
                            <select id="inputState" class="form-control" formControlName="diet" required>
                                <option>Vegetarian</option>
                                <option>Non-Vegitarian</option>
                            </select>
                        </div>
                    </div>                    


                    <div class="form-group row">
                        <div class="col-sm-3">With Photos</div>
                        <div class="col-sm-5">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck1" formControlName="privacy" required value="Public">
                        
                            </div>
                        </div>
                    </div>

                                        
                    <div class="text-center">
                        <button type="submit" class="btn btn-outline-primary btn-lg"><i class="fa fa-search" aria-hidden="true">Search Profile</i></button><br><br>
                    </div>
                    

        </form>
         
    

</div>
