
<div class="container">
  <h2>Contact Details</h2>
  <hr>
  <div class="row">
    <div class="col-md-3">
  
        <div class="nav flex-column  border border-primary" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active bg-primary" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"><h4 class="text-white">Actions</h4></a>
          <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" routerLink="/contactdetails" role="tab" aria-controls="v-pills-profile" aria-selected="false">View Contact Details</a>
          <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" routerLink="/profile" role="tab" aria-controls="v-pills-messages" aria-selected="false">Print Profile</a>        
        </div>
  
    </div>

    <div class="col-md-9">
       <div class="card">
          <div class="bg-primary">
            <h3 class="p-2 text-white">Contact Details</h3>
          </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3 ml-2">
                        <img src="assets/mm2.jpg">
                    </div>

                    <div class="col-md-5 offset-sm-1">
                        <h4>Name</h4>
                        
                        <p class="card-text">Email ID</p>
                        <p class="card-text">Mobile </p>
                        <p class="card-text">Landline</p>
                        <p class="card-text">Address</p>
                        <p class="card-text">City</p>
                        <p class="card-text">State</p>
                        <p class="card-text">Country</p>
                        
                    </div>

                </div>
            </div>
       </div>
    </div>
  </div>
</div>


