<div class="container">
    <div class="card-deck mt-5 mb-5">
        
        <div class="card" style="background-color: #808080">
          <div class="card-body text-center">
              <h3>Gold Package</h3><br>
              <img src="assets/user_photo/gold.png" class="rounded-circle"><br><br>
              <h2>Rs. 1100</h2><br>
            <p class="card-text">Some text inside the second card</p><br>
            <button type="button" class="btn btn-warning btn-lg">Buy</button>
          </div>
        </div>
        <div class="card" style="background-color:#A9A9A9">
          <div class="card-body text-center">
            <h3>Silver Package</h3><br>
            <img src="assets/user_photo/silver.png" class="rounded-circle"><br><br>
            <h2>Rs. 2000</h2><br>
            <p class="card-text">Some text inside the third card</p><br>
            <button type="button" class="btn btn-warning btn-lg">Buy</button>
          </div>
        </div>
        <div class="card" style="background-color:#D3D3D3">
          <div class="card-body text-center">
            <h3>Premium Package</h3><br>
            <img src="assets/user_photo/platinum.jpg" class="rounded-circle"><br><br>
            <h2>Rs. 3000</h2><br>
            <p class="card-text">Some text inside the fourth card</p><br>
            <button type="button" class="btn btn-warning btn-lg">Buy</button>
          </div>
        </div>  
      </div>
</div>